VITE_SUPABASE_URL=https://YOUR_PROJECT.supabase.co
VITE_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY
VITE_API_BASE_URL=https://valtry-llama3-2-3b-quantized.hf.space
VITE_FAST_API_BASE_URL=https://Valtry-llama-fast.hf.space
VITE_CODER_API_BASE_URL=https://sabithulla-llama-coder.hf.space
VITE_IMAGE_GEN_API_BASE_URL=https://valtry-llama-img-gen.hf.space
VITE_TITLE_API_URL=https://valtry-llama-title.hf.space/generate-title
